<main class="login-view">
  <h2>GastroGuide</h2>

  <form class="login-form" autocomplete="off" (ngSubmit)="login()">
    <input type="email" name="email" autocomplete="username" [(ngModel)]="email" placeholder="Correo" />
    <input type="password" name="password" autocomplete="new-password" [(ngModel)]="password" placeholder="Contrasena" />

    <button type="submit">Iniciar sesion</button>
  </form>

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  <a routerLink="/register">Crear cuenta</a>
</main>